services:
  core:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: zeipo-core
    volumes:
      - ..:/app
    ports:
      - "8000:8000"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - PYTHONPATH=/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    shm_size: '8gb'
    tty: true
    stdin_open: true
    command: sleep infinity